.textarea {
    margin-left: 15%;
    width: 700px;
    height: 200px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    resize: none;
}

.keyboard-container {
    margin-left: 15%;
    margin-top: 20px;
    width: 700px;
}

.keyboard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.btn-selected {
    background-color: black;
    color: white;
}

.button {
    display: block;
    width: 15%;
    height: 40px;
    outline: none;
}

/* .button:active {
    color: red;
} */

#Space{ 
    width: 40%;;
}

.description {
    margin-left: 15%;
    margin-top: 20px;
}