* {
    box-sizing: border-box;
}

.textarea {
    margin-left: 15%;
    width: 700px;
    height: 200px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    resize: none;
}

.keyboard-container {
    padding: 6px;
    margin-left: 15%;
    margin-top: 20px;
    width: 700px;
    background-color: gray;
}

.keyboard-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.btn-selected {
    background-color: #85c59a;
    color: white;
}

.button {
    display: block;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #6b756e;
}

.button:active {
    color: red;
    background-color: #85c59a;
}

.Backspace {
    width: 100px;
}

.Tab {
    width: 60px;
}

.Enter {
    width: 121px;
}

.CapsLock {
    width: 110px;
}

.ShiftLeft{
    width: 110px;
}

.ShiftRight{
    width: 121px;
}


.Space { 
    width: 320px;;
}

.description {
    margin-left: 15%;
    margin-top: 20px;
}